USAGE=STOP
VM_NODES=tkao4@fa17-cs425-g46-01.cs.illinois.edu,tkao4@fa17-cs425-g46-02.cs.illinois.edu,tkao4@fa17-cs425-g46-03.cs.illinois.edu,tkao4@fa17-cs425-g46-04.cs.illinois.edu,tkao4@fa17-cs425-g46-05.cs.illinois.edu,tkao4@fa17-cs425-g46-06.cs.illinois.edu,tkao4@fa17-cs425-g46-07.cs.illinois.edu,tkao4@fa17-cs425-g46-08.cs.illinois.edu,tkao4@fa17-cs425-g46-09.cs.illinois.edu,tkao4@fa17-cs425-g46-10.cs.illinois.edu
DIRECTORY=CS425-MP1
GOPKG=go1.7.3.linux-amd64.tar.gz
HOME=/home/tkao4